#logo{
    position: absolute;
    right:10px;
    bottom: 10px;
}

nav {
    background-color: rgb(0, 0, 0, 0);
    border: 1px solid rgb(0, 0, 0, 0);
    color: rgb(255, 255, 255);
    display: block;
    margin: 0;
    overflow: hidden;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li {
    margin: 0;
    display: inline-block;
    list-style-type: none;
    transition: all 0.2s;
}

nav > ul > li > a {
    color: rgb(255, 255, 255);
    display: block;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;

}

nav li > ul{
    display : none;
    margin-top:1px;
    background-color: rgb(255, 255, 255);

}

nav li > ul li{
    display: block;
}

nav  li > ul li a {
    color: #111111;
    display: block;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
}

nav li:hover {
    background-color: #666;
}
nav li:hover > ul{
    position:absolute;
    display : block;
}
nav li > ul > li ul  {
    display: none;
    background-color: #888;
}
nav li > ul > li:hover > ul  {
    position:absolute;
    display : block;
    margin-left:100%;
    margin-top:-3em;
}
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .wrapper {
    display: grid;
    grid-gap: 10px;
        color: #444;
  }

  .box {
       background-color: #444;
       color: #fff;
       border-radius: 5px;
       padding: 20px;
       font-size: 150%;

  }

  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    
  }
  
  @supports not(display:grid) {
   .gridcontainer, [class^="item"] {
    display: none;
  }
    
    .nogrid {
      text-align: center;
      font-size:  7vmin;
      margin: auto;
      padding: 5%;
      margin-top: 5%;
      box-shadow: 10px 10px 70px -20px rgba(0, 0, 0, 0.8);
    }
    }
  
  @supports (display:grid) {
    .nogrid {
      display: none;
    }
    
    .gridcontainer {
      display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, 20vh) ;
  }


    
    .item1 {
    background-color: #1abc9c;
      grid-row: 1 / 1;
      grid-column: 1 / 1;
      background-size: 75%;
      margin: 1vh;
      ;
      background-repeat: no-repeat;
      background-position: center;
  }
  
   .item2 {
     background-color: #3498db;
     grid-row: 2;
     margin: 1vh;
   }
  
  
  
   .item4 {
     background-color: #bdc3c7;
     grid-row: 3;
     background-size: 50%;
     background-repeat: no-repeat;
     background-position: center;
     margin: 1vh;
   }
  
   .item5 {
     background-color: #2ecc71;
     background-repeat: no-repeat;
     grid-row: 4;
     background-size: 50%;
     background-position: center;
     margin: 1vh;
   }
  
   .item6 {
     background-color: #16a085;
     grid-row: 5;
     background-size: 50%;
     background-position: center;
     margin: 1vh;
   }
   .item2-1 {
    background-color: #bdc3c7;
    grid-row: 1;
    grid-column: 2;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
   }
   .item2-2 {
    background-color: #bdc3c7;
    grid-row: 2;
    grid-column: 2;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
   }
   .item2-3 {
    background-color: #bdc3c7;
    grid-row: 3;
    grid-column: 2;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
   }
   .item2-4 {
    background-color: #bdc3c7;
    grid-row: 4;
    grid-column: 2;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
   }
   .item2-5 {
    background-color: #bdc3c7;
    grid-row: 5;
    grid-column: 2;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
   }
   .item3-1 {
    background-color: #bdc3c7;
    grid-row: 1;
    grid-column: 3;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
   }
   .item3-2 {
    background-color: #bdc3c7;
    grid-row: 2;
    grid-column: 3;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
   }
   .item3-3 {
    background-color: #bdc3c7;
    grid-row: 3;
    grid-column: 3;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
   }
   .item3-4 {
    background-color: #bdc3c7;
    grid-row: 4;
    grid-column: 3;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
   }
   .item3-5 {
    background-color: #bdc3c7;
    grid-row: 5;
    grid-column: 3;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
   }
   .item4-1 {
    background-color: #bdc3c7;
    grid-row: 1;
    grid-column: 4;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
   }
   .item4-2 {
    background-color: #bdc3c7;
    grid-row: 2;
    grid-column: 4;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
   }
   .item4-3 {
    background-color: #bdc3c7;
    grid-row: 3;
    grid-column: 4;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
   }
   .item4-4 {
    background-color: #bdc3c7;
    grid-row: 4;
    grid-column: 4;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
   }
   .item4-5 {
    background-color: #bdc3c7;
    grid-row: 5;
    grid-column: 4;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
   }
   .item5-1 {
    background-color: #bdc3c7;
    grid-row: 1;
    grid-column: 5;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
   }
   .item5-2 {
    background-color: #bdc3c7;
    grid-row: 2;
    grid-column: 5;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
   }
   .item5-3 {
    background-color: #bdc3c7;
    grid-row: 3;
    grid-column: 5;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
   }
   .item5-4 {
    background-color: #bdc3c7;
    grid-row: 4;
    grid-column: 5;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
   }
   .item5-5 {
    background-color: #bdc3c7;
    grid-row: 5;
    grid-column: 5;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 1vh;
   }
  
    
    
    
    
    [class^="item"] {
      background-color: rgba(250, 250, 250, 0.4);
      border: 1px transparent solid;
      mix-blend-mode: screen;
    }
    
    [class^="item"]:hover {
      background-color: rgba(250, 250, 250, 0.6);
      border: 1px white solid;
    } 
  
  }
  .head {
    background-image: url(../Images/headbackground.jpg);
    background-repeat: no-repeat;
    background-size: 100% 500px;
    margin: 0 ;
    width: 100%;
    height: 100px;
    max-height: 100px;
    background-size: cover;
  }
  .gamedisplay {
    background-color:black;
  }
  .bodybox {
    background-color: #040404;
  }
  .submit {
    text-decoration-color: #fff;
  }
  .error {
    color: red;
  }